.MyApp{
  text-align: center;
}
h1{
  margin: 0;
}

.header{
  background-color: rgb(42, 54, 29);
  color: white;
  padding: 8px;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.data{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
