
h1{
  margin: 0px;
}

.header{
  background-color: darkgreen;
  color: cornsilk;
  padding: 10px;
  text-align: center;
}

.compa{
  background-color: aqua;
  padding: 5px;
  margin: 8px;
}

.compb{
  background-color:rgb(243, 3, 3);
  padding: 5px;
  margin: 8px;
}

.compc{
  background-color: rgb(204, 201, 11);
  padding: 5px;
  margin: 8px;
}

