.App {
  text-align: center;
  background-color: white;
  color: white;
}

.header{
  background-color: yellow;
  color: black;
}

.footer {
  background-color: blue;
}

.main{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.movie{
  background-color: aliceblue;
  color: black;
  border: 1px solid gray;
  padding: 3px;
  font-weight: bold;
  text-align: center;
  width: 23%;
  margin-top: 20px;
}

.movie img{
  height: 320px;
  width: 100%;
}

h1{
  color: black;
  background-color: chartreuse;
  margin: 0px;
}
