body{
    text-align:center;
    background-color: rgb(184, 207, 207);
    margin: 0;
    padding: 0;
}

h3{
    color: blue;
    font-style: italic;
}
.name{
    color: rgb(150, 25, 25);
    font-style: oblique;
    font-size: medium;
    font-variant: initial;
}
.inputBox{
    background-color: rgb(121, 228, 121);
    color: rgb(8, 8, 8);
    font-style: italic;
    border-color: blue;
}
.Add{
    color: rgb(231, 76, 19);
    font-style: oblique;
    font-variant: initial;
}
.dropBox{
    background-color: rgb(175, 202, 128);
    border-color: rgb(36, 36, 99)
}
#hb{
    color: rgb(31, 3, 3);
    font-style: oblique;
    font-style: inherit;
    font-weight: 600;
}
.lang{
    color: rgb(88, 79, 25);
}
.hobi{
    color: rgb(99, 43, 33);
}
.mydate{
    color: rgb(189, 18, 132);
} 
.date{
    background-color: rgb(194, 147, 147);
}
#cnd{
    color: black;
    font-size:x-small;
    font-style: italic;
}
#btn{
    background-color: red;
    color: rgb(204, 247, 12);
    border-radius: 50px;
    border-color: rgb(15, 43, 21);
}
#sbtn{
    background-color: aqua;
    color: black;
    border-radius: 50px;
    border-color: black;

}